@import "tailwindcss";
@import "./fonts.css";

@theme {
    --font-inter: "Inter", sans-serif;
    --font-plus: "PlusJakartaSans", sans-serif;
    --font-grand: "GrandHotel", serif;

    --color-primary: #ff69b4;
    --color-accent: #8acbff;

    --color-text: #fffafa;
    --color-text-1: #7e7e86;
    --color-bg: #090909;

    --font-size: 1rem;
}

html {
    background-color: var(--color-bg);
    font-family: var(--font-inter);
    font-size: var(--font-size);
    color: var(--color-text);
    overflow-x: hidden;
}

.move {
    animation: move 1.5s ease-in-out infinite;
}
.close {
    transform: translateY(-100%);
    /*opacity: 0;*/
}

.will-change-transform {
    will-change: transform;
}

@keyframes move {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(200%);
    }
}

/*Font Sizes*/

@media (width >=412px

 /* 640px 40*/) {
    html {
        font-size: 1.1rem;
    }
}

@media (width >=48rem

 /* 768px */) {
    html {
        font-size: 1.75rem;
    }
}

@media (width >=64rem

 /* 1024px */) {
    html {
        font-size: 2.25rem;
    }
}

@media (width >=80rem

 /* 1280px */) {
    html {
        font-size: 1.3vw;
    }
}

@media (width >=1440px

 /* 1440px */) {
    html {
        font-size: 1.5vw;
    }
}

.renderer {
    width: 100%;
    height: 100vh;
}
